@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.game-screen{
    flex-grow: 1;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    border-radius: 5%;
    border: 5px black double;
    gap: 16px
}

.title{
    font-style: oblique;
    font-weight: bold;
}

.score-header{
    padding: 8px;
    background-color: white;
    color: red;
    border-radius: 20%;
    border: 5px black double;
    width:fit-content;
    text-align: center;
}

.game-icon{
    width: 40%;
    height: auto;
    border: 10px black solid;
}

.play-button{
    border-radius: 16px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
}