@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.game-screen{
    flex-grow: 1;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    border-radius: 5%;
    border: 5px black double;
    gap: 16px
}

.title{
    font-style: oblique;
    font-weight: bold;
}

.round-number{
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
    color:midnightblue;
    text-align: center;
    text-decoration-line: underline;
}

.scoreboard{
    padding: 4px 16px;
    background-color: white;
    color: red;
    border-radius: 20%;
    border: 5px black double;
    width:fit-content;
    display: flex;
    gap: 32px;
    justify-content: space-around;
}

.score-header{
    max-width: 50%;
    text-align: center;
}

.score-header span{
    display: block;
}

.game-icon{
    width: 35%;
    height: auto;
    border: 10px black solid;
}

.play-button{
    border-radius: 16px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
}